<div class="image-top">
  <img src="/assets/sample1.png" alt="メインバナー">
</div>

<div class="container-fluid">
  <div class="row">
    <div class="image-button offset-6 col-md-6">
      <a href="#"><p>       </p></a>
    </div>
  </div>
</div>

<div class="container">
  <div class="text-title text-center">
    <h1>転職活動の<span>豊富な特典</span></h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="flex-box">
      <div class="service-box col-md-6">
        <div class="text-content1 text-center">
          <h2>あなたの<span>希望にマッチする</span><br>好条件の優良企業をご紹介</h2>
        </div>
        <div class="text-box">
          <div class="content-box">
            <img src="/assets/box1-image.jpeg" alt="イメージ画像" width="100%" height="300px">
          </div>
          <p>会社の詳細な数字はサイト上に一切掲載しておりません。<br>
              働きやすい環境で、いかに稼ぐかを一緒になって話し合い、転職企業選定を行っていきます。また、<span>事前に多くの情報を頂いて審査した会社と契約している</span>ので安心してご利用ください。</p>
        </div>
      </div>
      <div class="service-box col-md-6">
        <div class="text-content2 text-center">
          <h2><span>経験豊富</span>な転職エージェント</h2>
        </div>
        <div class="text-box">
          <div class="content-box">
            <img src="/assets/box2-image.jpeg" alt="イメージ画像" width="100%" height="300px">
          </div>
          <p>あなたの疑問・質問にお答えするほか、あなたの<span>希望する会社、勤務地や勤務形態</span>、その他についてふさわしいと思う優良企業をご提案させていただきます。また、<span>相談員は業界での管理職経験</span>があり、経験豊富な相談員がご対応いたしますので安心してご相談下さい。</p>
        </div>
      </div>
      <div class="service-box col-md-6">
        <div class="text-content3 text-center">
          <h2>利用料は<span>一切かかりません</span></h2>
        </div>
        <div class="text-box">
          <div class="content-box">
            <img src="/assets/box3-image.jpeg" alt="イメージ画像" width="100%" height="300px">
          </div>
          <p>登録フォームに入力していただき「送信」ボタンをクリックするだけ。
          <br>もちろんご質問・お問合せ、登録の際に<span>料金は一切かかりません。</span><br>当サイトは<span>転職希望の求職者</span>を<span>無料</span>で企業にご紹介するサイトですので安心してご活用ください。</p>
        </div>
      </div>
      <div class="service-box col-md-6">
        <div class="text-content4 text-center">
          <h2><span>未経験でも安心</span>なプログラム</h2>
        </div>
        <div class="text-box">
          <div class="content-box">
            <img src="/assets/box4-image.jpeg" alt="イメージ画像" width="100%" height="300px">
          </div>
          <p>会社の詳細な数字はサイト上に一切掲載しておりません。<br>
              <span>働きやすい環境で、いかに稼ぐか</span>を一緒になって話し合い、転職企業選定を行っていきます。また、事前に<span>多くの情報を頂いて審査した会社</span>と契約しているので安心してご利用ください。</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="support-text col-md-8 offset-2">
      <h1><img src="/assets/service-icon.jpeg" alt="サポート画像" width="100%" height="auto"></h1>
      <a href="#"><img src="/assets/mail-icon.png" alt="お問い合わせ" width="100%" height="auto"></a>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="result-text">
        <img src="/assets/result-image.png" alt="成果の画像" width="100%" height="auto">
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="step-box">
      <div class="step-box1 col-md-4">
        <p>STEP<span>01→</span></p>
        <h1 class="step1-text text-center">無料の転職相談を<br>申し込む</h1>
        <h2><img src="assets/content1-image.jpg" alt="コンテンツ１画像" width="100%" height="200px"</h2>
        <h3>当サイトより転職相談のお申し込みをしていただきます。その後、ご相談について連絡させていただきます。</h3>
      </div>

      <div class="step-box2 col-md-4">
        <p>STEP<span>02→</span></p>
        <h1 class="step2-text text-center">無料の転職相談を<br>申し込む</h1>
        <h2 class="content1"><img src="assets/content2-image.jpg" alt="コンテンツ２画像" width="100%" height="200px"</h2>
        <h3>疑問や質問、その企業の業務内容や勤務形態などお話しさせていただきます。</h3>
      </div>

      <div class="step-box3 col-md-4">
        <p>STEP<span>03</span></p>
        <h1 class="step3-text text-center">無料の転職相談を<br>申し込む</h1>
        <h2 class="content1"><img src="assets/content3-image.jpg" alt="コンテンツ3画像" width="100%" height="200px"</h2>
        <h3>選んだ企業に連絡をさせていただき、面接日を決定します。また、企業に持っていく履歴書や職務経歴書の作成についてお手伝いさせていただきます。</h3>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="support-text col-md-8 offset-2">
      <h1><img src="/assets/service-icon.jpeg" alt="サポート画像" width="100%" height="auto"></h1>
      <a href="#"><img src="/assets/mail-icon.png" alt="お問い合わせ" width="100%" height="auto"></a>
      <p><img src="/assets/tel-icon.png" alt="電話番号" width="100%" height="auto"></p>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 mt-5">
      <a href="#"><b>トップページへ</b><</a>
    </div>
  </div>
</div>

<footer>
  <div class="container-fluid">
    <div class="row">
      <div class="text-center col-md-12">
        Copyright © 2021 sample1. All Rights Reserved.
      </div>
    </div>
  </div>
</footer>